<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <base target="_parent" />
  <title>App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- build:css({.tmp,app}) styles/app.css -->
  <link rel="stylesheet" href="styles/app.css">
  <!-- endbuild -->
  <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.42.0/js/wix.min.js"></script>
  <style wix-style ng-non-bindable>
    body {
      color: {{style.textColor color-5}};
      background-color: {{style.backgroundColor color-1}};
    }
  </style>
</head>
<body data-ng-app="wixApp">

<div class="app" data-ng-view=""></div>

<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>

<!-- build:js({.tmp,app}) scripts/app.js -->
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="scripts/services/wix.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<!-- endbuild -->
</body>
</html>
