<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <base target="_parent" />
  <title>App settings</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- build:css({.tmp,app}) styles/settings.css -->
  <link rel="stylesheet" href="bower_components/wix-ui-lib2/ui-lib.min.css"/>
  <link rel="stylesheet" href="styles/settings.css">
  <!-- endbuild -->

  <script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.24.0/js/Wix.js"></script>

</head>
<body data-ng-app="appSettings">
<!--[if lte IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<!-- build:js scripts/compat.js -->
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
<!-- endbuild -->
<![endif]-->

<!-- Add your site or application content here -->
<div class="app" data-ng-view=""></div>

<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>

<!-- build:js({.tmp,app}) scripts/settings.js -->
<script src="bower_components/wix-ui-lib2/ui-lib.min.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-translate/angular-translate.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

<script src="scripts/services/wix.js"></script>
<script src="scripts/settings.js"></script>
<script src="scripts/controllers/settings.js"></script>
<!-- endbuild -->
</body>
</html>
